<section>
  <strong>Blackjack</strong>
  <div>
    Deck: {inspect(@cards, charlists: :as_lists)}
  </div>
  <div>
    Player: {inspect(@player, charlists: :as_lists)}
  </div>
  <div>
    CPU: {inspect(@cpu, charlists: :as_lists)}
  </div>
</section>
